*.log
*.aux
*.tmp
*~
*.pdf
allsongs.tex
tempfile
vol_h1.txt
vol_n1.txt
vol_u1.txt
vol_v1.txt
vol_h2.txt
vol_n2.txt
vol_u2.txt
vol_v2.txt
vol_h3.txt
vol_n3.txt
vol_u3.txt
vol_v3.txt
vol_h4.txt
vol_h5.txt
vol_h6.txt
vol_bc.txt
vol_cc.txt
vol_ev.txt
vol_jf.txt
vol_jl.txt
vol_lm.txt
vol_st.txt
vol_rj.txt
vol_wg.txt