*.log
*.aux
*.toc
*.tmp
*.out
*~
*.pdf
allsongs.tex
legend.tex
tail.tex
tempfile*
prunedstrings
single_occurrences
unique_pieces
vol_1.txt
vol_2.txt
vol_3.txt
vol_7.txt
vol_a.txt
vol_b.txt
vol_c1.txt
vol_c.txt
vol_e.txt
vol_ev.txt
vol_f.txt
vol_g.txt
vol_h1.txt
vol_h2.txt
vol_h3.txt
vol_h4.txt
vol_h5.txt
vol_h6.txt
vol_js.txt
vol_j.txt
vol_lr.txt
vol_l.txt
vol_m.txt
vol_n1.txt
vol_n2.txt
vol_n3.txt
vol_o.txt
vol_r.txt
vol_s1.txt
vol_s2.txt
vol_s3.txt
vol_s.txt
vol_t.txt
vol_u.txt
vol_v.txt
vol_w.txt
vol_z.txt

